body{
    background-color: black;
    color: white;
    overflow: hidden;
}

a{
    color:black;
}

iframe{
    padding: 5%;
}

header{
    text-align: center;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}